.img {
  padding-top: 40px;
  max-width: 50%;
  height: auto;
}

.div-btn-login {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
}

.btn-login {
  font-size: 20px;
  width: 50%;
  text-transform: none;
}

.label {
  display: flex;
  font-size: 20px;
}

.input {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  padding-bottom: 64px;
  padding-top: 16px;
}

.text h1 {
  font-weight: bold;
  font-size: 38px;
}

.text h2 {
  font-size: 16px;
}
