.user {
  display: flex;
  align-items: center;
}

.text {
  padding-bottom: 64px;
  padding-top: 16px;
  font-weight: bold;
  font-size: 38px;
}

.item {
  font-size: 20px;
}

.icon {
  border-radius: 30px;
  overflow: hidden;
  float: right;
}
